@model IEnumerable<VaterpoloKlub.Models.RezultatTestiranja>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VjezbeTestiranje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rezultat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clan.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VjezbeTestiranje.TestiranjeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rezultat)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
