@model VaterpoloKlub.Models.Clanarina

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clanarina</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumPocketa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumPocketa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumKraja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumKraja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clan.Ime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
